#regisztracioDiv {
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px 20px 5px;
    width: 30%;
    margin: 10% auto;
    padding: 30px;
}

#hideImage1, #hideImage2 {
    height: 20px;
    width: 20px;
}